@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans, Arial, sans-serif;
}

html {
  font-size: 10px;
}

header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

header:after {
  content: "";
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.container-top {
  width: 100%;
  padding: 0 14.76% 0 14.76%;
  /*padding: 0 15px;*/
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-transform: uppercase;
  min-height: 450px;
}

.logo {
  width: 179px;
  margin: 28px 0px 0px 1px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
}

.burger {
  display: none;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list a {
  text-decoration: none;
  color: #ffffff;
}

.menu-item:hover {
  text-decoration: underline;
  color: #000000;
}

.menu-item {
  margin: 41px 0px 0px 35px;
  font-size: 13px;
  text-align: center;
}

.title {
  width: 682px;
  margin: 100px auto 0;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  line-height: 75px;
  letter-spacing: -0.2px;
}


/*trends----------------------------------------------------------------- */


.container-trends {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 56px;
}

.head-wide {
  font-weight: bold;
  font-size: 20px;
}

.head-wide:after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  position: relative;
  margin: 8px auto 28px auto;
}

.head-wide a {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
}

.container-trends-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trend-card {
  width: calc((100% - 12px)/4);
  min-height: 319px;
  background-color: #eff6f1;
  position: relative;
  padding: 15px 21px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  align-items: center;
  background-position: center;
}

.trend-card:after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}

.content-trend-card {
  z-index: 3; 
  position: relative;
  justify-self: end;
  flex-direction: column;
  border: 3px solid #b59f5b;
  padding: 34px 32px 34px;
}

.title-trend-card-link{
 font-size: 20px;
 color: #ffffff;
 font-weight: 700;
 line-height: 1.2;
}

.title-trend-card a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.title-trend-card {
  margin-top: 6px;
} 

.title-trend-card-link:hover {
  color: #b59f5b;
}

/*main----------------------------------------------------------------- */

.container-page {
  /*width: 100%x;*/
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 15px 0px;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

main {
  width: 67%;
  margin-right: 10%;
}

.card-article {
  display: flex;
}

.card-article:nth-child(n + 2) {
  margin: 60px 0 0 0;
}

.image-article {
 width: 48.7%;
 display: flex;
}

.content-box-article {
  margin-left: 3.5%;
  width: 47.8%;
}

.image-article-link {
  display: flex;
  width: 100%;
}

.image-article-logo {
  background-color: #eff6f1;
  width: 100%;
}

.tag-article-list {
  list-style-type: none;
  justify-content: start;
  display: flex;
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  margin: -2px 0 0 0;
}

.tag-item-article:nth-child(n + 1) {
  /*margin: 0 5.4% 0 0;*/
  margin: 0 20px 0 0;
}

.tag-item-article a {
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
}

.tag-item-article {
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.tag-item-article:hover {
  text-decoration: underline;
}

.head-item-article {
  margin: 4px 0 0 0;
  font-size: 20px;
  line-height: 1.29;
}

.head-item-article a {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
}

.head-item-article-link:hover {
  color: #b59f5b;
}

.card-meta-article {
  display: flex;
  /*margin: 3.6rem 0 0 0;*/
  margin: 27px 0 0 0;
  color: #888888;
}

.card-date-article {
  font-size: 12px;
  color: #888888;
}

.author-article {
  font-size: 12px;
  margin: 0 0 0 16px;
  font-weight: bold;
}

.excerpt-article {
  /*margin: 5.5rem 0 0 0;*/
  margin: 46px 0 0 0;
  font-size: 15px;
  line-height: 1.5;
}

.excerpt-article > p:nth-child(n+2) {
  margin-top: 9px;
}

/*aside----------------------------------------------------------------- */

aside {
  width: 23%;
  margin-top: -5px;
}

.aside-block {
  width: 100%;
}

.aside-block:nth-of-type(n + 2) {
  margin: 56px 0 0;
}

.header-news:after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  position: relative;
  margin: 4.67% auto 10% auto;
}

.container-news {
  padding: 0 0 0 1px;
}

.news-article {
  display: flex;
  width: 100%;
  margin: 6.5% 0 0 0;
}

.image-news {
  margin: 0 6.00% 0 0;
  width: 26.0%;
}

.image-news-link {
  width: 100%;
  display: flex;
}

.image-news-logo {
  margin: 5px 0 0 -2px;
  width: 100%;
  background-color: #f4f7f6;
}

.content-box-news{
  width: 68%;
}

.content-box-news a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.news-header:hover {
  color: #b59f5b;
}

.tag-article {
  display: flex;
}

.container-search {
  display: flex;
  margin: 58px 0 0 0;
  width: 100%;
}

.field {
  padding: 0 6%;
  min-height: 48px;
  width: 82%;
  background-color: #f4f7f6;
  font-size: 13px;
  vertical-align: top;
  border: 0;
  margin: 0 -4px 0 0;
}

.field:focus {
  outline: none;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.button {
  width: 16%;
  min-height: 48px;
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  border: 0;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.button:hover {
  background-color: #323232;
}

.aside-header {
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.aside-header:after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  position: relative;
  margin: 10px auto 23px auto;
}

.field-subscribe {
  /*display: flex;*/
  box-sizing: border-box;
  padding: 0 18px;
  height: 48px;
  width: 100%;
  background-color: #f4f7f6;
  font-size: 13px;
  border: none;
}

.field-subscribe:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.button-submit-subscribe {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  margin-top: 18px;
  font-size: 13px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.container-tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.tags-item {
  height: 30px;
  align-items: center;
  align-content: space-between;
  color: #0f0d0e;
  font-size: 12px;
  font-weight: bold;
  border: 3px solid #f4f3f1;
  padding: 5px 13px;
  margin: 0 6px 0 0;
  background-color: rgba(244, 243, 241, 0);
}

.tags-item a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.tags-item:nth-of-type(n + 4) {
  margin: 6px 6px 0 0;
}

/*themes----------------------------------------------------------------*/
/*.container-themes {
  margin: 5px 0 0;
}*/

.menu-themes-list {
  list-style: none;
}

.menu-theme-item {
  height: 20px;
  margin: 27px 0 0;
}

.menu-theme-item a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
}

.menu-theme-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 16px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.inner-menu-theme-item {
  display: flex;
}

.menu-theme-link:hover {
  color: #b59f5b;
}

.numbers {
  margin-left: 6px;
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
}


/*shops---------------------------------------------------------*/
.container-shops {
  /*width: 100%x;*/
  max-width: 1200px;
  margin: 59px auto 0;
  padding: 0px 15px 0px;
  color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;;
}

.container-shop-cards {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

.shop-card{
  width: 29.2%;
  padding: 0% 1.67%;
  display: flex;
  flex-direction: column;
}

.image-shop {
  width: 100%;
}

.image-shop-logo {
  width: 100%;
}

.content-shop-card-border {
  border: 3px solid #b59f5b;
  margin-top: -39px;
  margin-left: -20px;
  margin-right: -24px;
  margin-bottom: -20px;
  flex-grow: 3;
}

.content-shop-card {
  background-color: rgba(0,0,0,0);
  /*outline: 3px solid #b59f5b; 
  outline-offset: 20px;*/
  /*padding-block-end: ;*/ 
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 35px 22px 25px 20px;
  /*min-height: 208px;*/
}

.head-shop-title {
  padding: 16px 0 0 0;
}

.head-shop-title a {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  /*flex-grow: 1;*/
}

.head-shop-link {
  /*margin: 50px 0 0 0;*/
  font-size: 20px;
  width: 100%;
}

.excerpt-shop {
  /*width: 301px;*/
  /*margin-top: 5px;*/
  /*height: 92px;*/
  font-size: 15px;
  color: #0f0d0e;
  overflow: hidden;
  /*flex-grow: 1;
  flex-shrink: 10;*/

}

.excerpt-shop a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  color: #b59f5b;
  line-height: 22px;
}

.bottom-shop-block {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  /*flex-grow: 3;*/
}

.shop-price {
  color: #0f0d0e;
  font-weight: bold;
  /*flex-direction: column;
  justify-content: space-between;*/
  height: 16px;
}

.shop-price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.shop-price-new {
  font-size: 20px;
}

.button-shop {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

/*footer--------------------------------------------------------*/
.container-footer {
  /*width: 100%x;*/
  max-width: 1200px;
  margin: 83px auto 0 auto;
  padding: 0 15px;
}

.address-list {
  display: flex;
  background-color: #f3f7f5;
  min-height: 83px;
  list-style-type: none;
  justify-content: center;
}

.address-item:nth-of-type(n + 2) {
  margin: 0 0 0 22px;
}

.address-link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  margin-top: 31px;
}

.address-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.address-link-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.address-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.address-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  margin-top: 74px;
  text-align: center;
}

.copyright a {
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

/*popup--------------------------------------------------------*/


.container-popup {
 background: white;
 /*top: 244px;*/
 top: 10vh;
 /*top 0;*/
 left: 50%;
 position: fixed;
 /*position: absolute;*/
 max-width: 390px;
 max-height: 580px;
 height: 90vh;
 /*overflow: auto;*/
 width: 90%;
 margin: 0 auto;
 display: flex;
 align-items: center;
   /* align-items: center;
    justify-content: center;*/
    flex-direction: column;
    z-index: 30;
    padding: 45px 30px 55px;
    transform: translate(-50%, 0);
  }

  body {
    position: relative;
  }

  .container-popup-background:before {
    content: "";
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;

    /*z-index: 3;*/
  }

  .popup-select-head {
    display: flex;
    font-size: 13px;
    color: #000000;
    align-self: start;
    font-weight: 400;
    /*margin-top: 1px;*/
    margin-bottom: 5px;
  }

  .popup-select-head-email {
    margin-top: 30px;
  }

  .popup-select-head-content {
    margin-top: 30px;
  }

  .select {
   display: block;
   -webkit-appearance: none;
   -moz-appearance: none;
   background-image: url("../svg/form-arrows.svg");
   background-repeat: no-repeat;
   background-position: right 15px center;
   background-size: 10px;
   width: 330px;
   height: 48px;
   background-color: #f3f7f5;
   padding-left: 20px;
   color: #787a79;
   border: none;
   width: 100%;
 }

 .select:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.radio-content-popup{
  width: 100%;
  margin-top: 2px;
  /*display: inline-flex;*/
 /* align-items: flex-start;
   text-align: left;*/
 }

 .radio-group-popup{
  font-size: 13px;
  color: #000000;
/*align-items: flex-start;*/
}

.radio-group-popup:nth-of-type(n+2) {
 margin-left: 10px;
}

.radio-text-popup::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #b59f5b;
  vertical-align: middle;
  margin-right:8px;
}

.radio-popup{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-group-popup:focus, .radio-popup:focus~.radio-text-popup::before {
  width: 11px;
  height: 11px;
  border-radius: 6px;
  background-color: #b59f5b;
  outline: 2px solid #b59f5b;
  outline-offset: 2px
}

.textarea-popup {

  min-height: 131px;
  padding: 20px;
  background-color: #f4f7f6;
  border: none;
  resize: none; 
  width: 100%;
  font-size: 13px;
  color: #000000;
  margin-top: 2px;
}

.textarea-popup:focus {
  border: 1px solid #b59f5b;
}

.button-submit-subscribe:hover{
  background-color: #323232;
}

.form-group {
  width: 100%;
  margin-top: 9px;
}

.popup_close {
  position: absolute;
  right: -1px;
  top: -26px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-size: 18px;
  width: 18px;
  height: 18px;
  display: block;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  /* z-index: 30;*/
}

/*640-1199--------------------------------------------------------*/
@media (min-width: 641px) and (max-width: 1199px) {

  header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .menu-list {
   display: none;
 }

 .burger, .burger::before, .burger::after {
  top: 61px;
  display: block;
  position: relative; 
  width: 23px;
  height: 2px;
  background-color: #ffffff;
}

.burger::before {
  content: '';
  top: -8px;
}

.burger::after {
  content: '';
  top: 6px;
}

.container-top {
  padding: 0 35px 0 33px;
  min-height: 390px;
}

.logo {
  width: 158px;
  margin: 42px 0px 0px 1px;
}

.title {
  width: 627px;
  margin: 88px auto 0;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.2px;
}

.head-wide-link {
  font-size: 18px;
}

.head-wide:after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  position: relative;
  margin: 8px auto 0 auto;
}

.container-trends-card {
  margin-top: 18px;
}

.title-trend-card-link{
 font-size: 17px;
}

.trend-card {
  min-height: 245px;
  padding: 14px 20px;
}

.content-trend-card {
  padding: 35px 32px 32px;
}

.title-trend-card {
 overflow: auto;
}

main {
  width: 56.12%;
  margin-right: 5%;
}

.container-page {
  padding: 54px 34px 0px;
}

.container-trends {
  margin-top: 45px;
}

.title-trend-card-link{
 font-size: 17px;
}

.tag-article-list {
  overflow: auto;
}

.head-item-article {
 font-size: 17px;
 line-height: 22px;
 margin: 10px 0 0 0;
}

.card-meta-article {
 margin: 3.2rem 0 0 0;
}

.author-article {
  margin: 0 0 0 14px;
}

.excerpt-article {
  margin: 26px 0 0 0;
}

.card-article:nth-child(n+2) {
  margin: 51px 0 0 0;
}

.content-box-article::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #eeeeee;
  display: block;
  position: relative;
  margin: 17px auto -8px auto;
}

aside {
  width: 38.88%;
}

.news-article {
  display: flex;
  width: 100%;
  margin: 6.0% 0 0 0;
}

.card-article {
  flex-wrap: wrap; 
}

.image-article {
  width: 100%;
}

.content-box-article {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}

.container-shops {
  margin: 48px 31px 0;
}

.container-shop-cards {
  flex-wrap: wrap;
  margin-top: 27px;
}

.shop-card:nth-of-type(2n + 2) {
  margin: 0 0 0 5%;
}

.shop-card:nth-of-type(n + 3) {
  margin-top: 48px;
}

.shop-card{
  width: 46.5%;
/*padding: 2.08% 1.67%;*/
}

.head-shop-link {
  font-size: 17px;
}

.excerpt-shop {
  margin-top: 5px;
}

.container-footer {
  margin-top: 71px;
  padding: 0 31px;
}

.copyright {
  margin-top: 36px;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
}

.popup-select-head-enter {
  margin-top: 28px;
}

.radio-content-popup {
  margin-top: 5px;
}

.radio-group-popup:nth-of-type(n+2) {
 margin-left: 29px;
}

.radio-text-popup::before {
  margin-right:8px;
  width: 23px;
  height: 23px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #b59f5b;
}

.radio-group-popup:focus, .radio-popup:focus~.radio-text-popup::before {
  width: 17px;
  height: 17px;
  border-radius: 8px;
  background-color: #b59f5b;
}
}



@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait){
  .trend-card {
    width: calc((100% - 4px)/2);
  }

  .trend-card:nth-of-type(n+2) {
    margin-top: 2px;
  }

}

/*<640--------------------------------------------------------*/
@media (max-width: 640px) {

  header {
    background-image: url("../images/banner-mobile.jpg");
    max-height: 640px;
  }

  .container-top{
    padding: 0 15px 0 ;
  }
  .menu-list {
   display: none;
 }

 .top {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column-reverse;
 }

 .nav-top {
  width: 100%;
  display: flex;
  justify-content: end;
}

.logo-link{
  width: 100%;
}

.logo {
  width: 81.82%;
  margin: 220px 9.09% 0px 9.09%;
}

.burger, .burger::before, .burger::after {
  top: 40px;
  display: block;
  position: relative; 
  width: 23px;
  height: 2px;
  background-color: #ffffff;
  text-align: right;
}

.burger::before {
  content: '';
  top: -8px;
}
.burger::after {
  content: '';
  top: 7px;
}

.container-trends {
 margin: 33px 0 0 0;
}

.trend-card:nth-of-type(n+2) {
  margin-top: 2px;
}

.trend-card {
  min-height: 232px;
  padding: 0px 15px 17px;
}

.head-wide-link {
  font-size: 16px;
}

.content-trend-card {
  border: 3px solid #b59f5b;
  padding: 32px 20px 30px;

}

.title-trend-card-link{
 font-size: 16px;
}

.container-page{
  flex-wrap: wrap;
  padding: 44px 0px 0px 17px;
}

.title {
  margin: 35px auto 0;
  width: 342px;
  height: 384px;
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.head-wide::after {
  margin: 8px auto 0 auto;
}

.container-trends-card {
  margin-top: 23px
}

main {
  width: 100%;
  margin-right: 0%;
}

.container-articles {
  padding-right: 14px;
}
.content-box-article {
  margin: 12px 0 0 0;
}

.head-item-article {
 font-size: 16px;
 line-height: 1.29;
 margin: 8px 0 0 0;
}

.author-article {
  margin: 0 0 0 13px;
}

.card-meta-article {
  margin: 16px 0 0 0;
}

.excerpt-article{
  margin: 13px 0 0 0;
}

.card-article:nth-child(n + 2) {
  margin: 42px 0 0 0;
}

.excerpt-article {
  font-size: 14px;
}

.excerpt-article > p:nth-child(n+2) {
  margin-top: 3px;
}

aside {
  width: 100%;
}

.aside-block {
  padding-right: 15px;
}

.card-article {
  flex-wrap: wrap;
}

.image-article {
  width: 100%;
}

.content-box-article {
  width: 100%;
}

.content-box-article:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #eeeeee;
  display: block;
  position: relative;
  margin: 20px auto -8px auto;
}

.aside-header {
 font-size: 16px;
 font-weight: bold;
}

.container-news {
  margin: 50px 0 0;
}

.image-news {
  height: 70px;
  width: 70px;
  margin: 0 5.00% 0 0;
}

.image-news-logo {
  margin: 5px 0 0 0px;
}

.container-search {
  margin-top: 65px;
}

.aside-block:nth-of-type(n+2) {
  margin-top: 40px;
}
/*.container-widget:nth-of-type(n+1) {
  margin-top: 40px;
}*/

.container-themes:nth-of-type(n+1) {
 margin-top: 4px;
}

.container-themes>.aside-header::after {
  margin-top: 7px;
}

.tags-item:nth-of-type(n) {
  margin: 0px 6px 0 0;
}

.tags-item:nth-of-type(n+5) {
  margin: 6px 6px 0 0;
}

.container-shops {
  margin-top: 49px;
}

.shop-card{
  width: 100%;
  padding: 0% 6.5% 0;
}

.shop-card:nth-of-type(n+2) {
  margin-top: 47px;
}

.container-shop-cards {
  flex-wrap: wrap;
  padding-top: 29px;
}

.head-shop-title {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -2px;
}

.excerpt-shop {
  margin-top: 2px;
}

.container-footer {
  margin-top: 60px;
  padding-right: 2px;
}

.copyright {
  margin-top: 36px;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
}

.container-popup {
  padding: 20px 20px 25px 20px;
  margin: 0 0px 0 0px;
  top: 62px;
  min-height: 550px;
}

.popup-select-head-enter {
  margin-top: 28px;
}

.radio-content-popup {
  margin-top: 5px;
}

.radio-group-popup:nth-of-type(n+2) {
 margin-left: 29px;
}

.radio-text-popup::before {
  margin-right:8px;
  width: 23px;
  height: 23px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #b59f5b;
}

.radio-group-popup:focus, .radio-popup:focus~.radio-text-popup::before {
  width: 17px;
  height: 17px;
  border-radius: 8px;
  background-color: #b59f5b;
}

}

@media (max-width: 640px) and (orientation: landscape){
  .trend-card {
    width: calc((100% - 4px)/2);
  }

  .content-trend-card {
    padding: 5%;
  }
  
}

@media (max-width: 640px) and (orientation: portrait){
  .trend-card {
    width: 100%;
  }
}

._hidden {
 display: none;
}



